/* Normalize */
@import './normalize.css';
@import './font.css';

.app {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: Roboto-light;
	background-color: #ade8f4;
}

button:not(.close-btn){
	border: 0;
	outline: none;
	padding: 0.5em 1em;
	border-radius: 2rem;
	background-color: #ffff;
	cursor: pointer;
	transition: 0.3s;
}

button:not(.close-btn):hover{
	background-color: #1a6f80;
}

input{
	outline: none;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 2rem;
}


/* loader */



.table-loader{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;

}
/* screen overlay */

.overlay{
	opacity: 0;
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 3;
	pointer-events: none;
}

.overlay.active{
	opacity: 1;
	pointer-events: all
}

/* input modal */

.input-modal{
	align-items: center;
	border-radius: 2rem;
	position: fixed;
	display: none;
	flex-direction: column;
	background-color: #ade8f4;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	z-index: 4;
	width: 300px;
	max-width: 80%;
	transition: transform 0.10s;
}

.input-modal.active {
	display: flex;
}

 .modal-title{
	display: flex;
	justify-content: space-between;
}

.modal-title h1{
	font-size: 1.5em;
}


.close-btn{
	cursor: pointer;
	position: fixed;
	font-size: 1.5em;
	font-weight: bold;
	top: 1rem;
	right: 1rem;
	background-color: transparent;
	border: 0;
}

.close-btn:hover{
	color: lightgray;
}

.input-modal input{
	margin-bottom: 1rem;
}

.input-modal button{
	margin-bottom: 1rem;
}
/* 
.input-modal.active */

/* HEADER */

header {
	background-color: #48a4b6;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline-start: 2rem;
	padding-inline-end: 2rem;
	border-bottom: 1px solid #ffff;
}

header h1{
	font-family: Roboto-Black;
	font-size:  5rem;

}

.location-container {
	background-color: #ade8f4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline-start: 2rem;
	padding-inline-end: 2rem;
}

.location-title h2{
  font-size: 2rem;
}

.location-title h2:not(span){
	font-family: Roboto-Black;
}

.location-title span{
	font-family: Roboto-light;
}

.search-container input ,button:first-of-type{
	margin-inline-end: 1rem;
}


/* MAIN */

main {
	height: 100%;
	display: flex;
	justify-content: space-between;
	padding-inline-start: 2rem;
	padding-inline-end: 2rem;
}

/* map */

#map {
	flex-basis: 60%;
	height: 60vh;
}

 /* details */

.details-container {
	display: flex;
	flex-basis: 30%;
}

.weather-container {
	background-color: bisque;
}

/* location-table */


.locations-table {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.location-card {
	padding: 1rem 0rem 1rem 1rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #ffff;;
	margin-bottom: 1rem;
	border-radius: 2rem;
}

.location-card h3 {
	margin: 0 0 0;
	font-size: 1rem;
	text-transform: uppercase;
}

.location-card .card-btns{
	display: flex;
}

.location-card .card-btns button{
	margin-inline-end: 1rem;
	background-color:  #48a4b6;
}

.location-card .card-btns button:hover{
	background-color: #ade8f4;
}



@media (max-width: 850px){
	header{
		flex-direction: column;
		padding-bottom: 2rem;
	}
	main{
		flex-direction: column-reverse;
	}
}

@media (max-width: 500px){
	.search-container input{
		margin-bottom: 1rem;
	}
}